<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width' , initial-scale=1.0>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Data Entry</title>
</head>

<body>
    
    <div class='login'>
        <h1>Data Collected</h1>
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <p>Gender: {{gender}}</p>
        <p>Phone number: {{phone}}</p>
        <p>Password: {{password}}</p>
        <p>Id: {{id}}</p>
        <p>Date-Time: {{time}}</p>
    </div>
</body>

</html>