<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<script>
     window.alert('Entered OTP was wrong try again!');
</script>
<body style="background-image: url(https://bit.ly/39KPe90);">
    <div class="login">
    <form action="{{ url_for('validate') }}" method="POST">

        <h4> Entered OTP was wrong. Re-enter the OTP!</h4>

        Enter OTP: <input type="text" name="top" maxlength="6" minlength="6" required>

        <input type="submit" value="Submit">
        <a href='/' class='st'>Go HomePage</a>

    </form>
    </div>
</body>
</html>  