<!DOCTYPE html>
<html>

<head>
     <title>Recorded Data</title>
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body
     style="background-image: url(https://bit.ly/39KPe90);">

     <h1 style="text-align: center;text-decoration: underline;">Recorded data</h1>
     {% if t == 'T'%}
     <script>
     window.alert('Invalid Id');
     window.location.replace("/search");
     </script>
     {% endif %}
     <table id="customers">
          <thead>
               <th>Id</th>
               <th>Name</th>
               <th>Password</th>
               <th>Email</th>
               <th>Phone</th>
               <th>Gender</th>
          </thead>

          <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["username"]}}</td>
               <td>{{row["password"]}}</td>
               <td>{{row["email"]}}</td>
               <td>{{row["phone"]}}</td>
               <td>{{row["gender"]}}</td>
          </tr>
     </table>
     <br>
     <p class="sub">
          <a href="/" class="st">Go HomePage</a>
          <p>

</html>