{% extends 'withoutlogin.html' %}
{% block title %}Home{% endblock %}
{% block main %}
<div class='jumbotron  container' style='margin-top: 50px;'>
     <h1 class='display-4'>About</h1>

     <p class="lead">This a Python Flask User Management and login system. This project has many features as
          user-registration with picture, login to access the data, and a admin user to change the settings and see the
          recored.</p>
     <p class="display-4">Project made and maintained by Kumar Aditya</p>
</div>
{% endblock %}